<!-- Xmas Wrapper -->
<section class="xmas">

    <div class="to">
        <div>Dear Subscribers</div>
    </div>
    <div class="xmas-video">
        <iframe src="http://embed.ted.com/talks/lang/zh-tw/jason_pontin_can_technology_solve_our_big_problems.html" scrolling="no" seamless="seamless" id="iframe-src" style="z-index:5;width:100%;height:481px"></iframe>
    </div>

    <div class="from">
        <div>from</div>
        <a class="gc-link small-title from-name" href="http://craftedbygc.com">ResponsiveDesign.is</a>
    </div>

    <!-- Let it snow! -->
    <canvas id="xmasCanvas"></canvas>
</section>
<script src="~/Scripts/xmas.js"></script>